*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header-black{
    background-color: rgb(211, 10, 161);
    padding: 5px;
}

#header-black nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-black nav ul li{
    width: 150px;    
}

#header-black nav ul li a{
    color: rgb(255,255,255);
    font-family: Arial;
    font-size: 8pt;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 100px;
}

#header-black nav ul li a:hover{
    color: rgb(255,255,50)
}

#menu{
    padding: 10px 30px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 5px 10px rgb(255, 16, 175);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu nav ul li{
    width: 150px;
    text-align: center;
}

#menu nav ul li a{
    text-decoration: none;
    color: #d60c93;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}
.titulo-menu{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.usuario{
    padding: 5px 10px;
    background-color: rgb(241, 103, 149);
    color: #fff  !important;
    border: 1px solid rgb(29, 2, 18);
    border-radius: 7px;

}
#painel{
    background-image: url("https://sdmntpreastus.oaiusercontent.com/files/00000000-f2fc-61f9-80cc-d5d4985b6a8e/raw?se=2025-05-22T20%3A18%3A53Z&sp=r&sv=2024-08-04&sr=b&scid=19f1dd64-c559-5afd-8764-241ab3aace2a&skoid=31bc9c1a-c7e0-460a-8671-bf4a3c419305&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-22T11%3A32%3A17Z&ske=2025-05-23T11%3A32%3A17Z&sks=b&skv=2024-08-04&sig=KDN63eq8zaAelYZwq%2BqX1P%2B6cR5GKFYZhvoTpTbwD%2BA%3D");
    margin-top: 7px;
    background-size: 100% ;
    padding-top:100px;
    height: 450px;
}
#painel form{
    margin-left: 100px;
    width: 300px;
    height: 36px;
    padding: 5px;
    border: 1px solid rgb(249, 14, 159);
    border-radius: 10px;
    display: flex;
    background-color: white;
}
#painel form input{
    border: 0px;
    width: 300px;
    margin-right: 5px;
    padding: 5px;
    outline: auto;

}
#painel form button{
    background-color: #dd1c8d;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
#painel form img{
    width: 20px;
    height: 20px;
}
main{
    margin: 50px auto;
    width: 80%;
}
#novidades{
    background-color: aliceblue;
}
#livrosnovidades{
    background-color: white;
    display: flex;

    
}
.livro{
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.livro img{
    width: 100%;
}
.livro h3{
    font-family: arial;
    margin-left: 5px;
}
.livro .preco{
    font-family: arial;
    margin-left: 5px;
    color: rgb(255, 3, 213);
    font-weight: bold;
    font-size: 10pt;
}
#livrosnovidades div button{
    width: 100%;
    border: 1px solid rgb(255, 0, 128);
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#livrosnovidades div button img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
#livrosnovidades div button p{
    font-size: 8pt;
    color: rgb(250, 0, 208)
}
#livrosnovdades h2{
    font-family: tahoma;
    font-size: 15pt;
}
.txtnovidades{
    font-family: tahoma;
    font-size: 10pt;
    margin: 5px;
    
}
/* #novidades .seta-esquerda{
    border:  1px #d60c93;
    
    
} */